

.padding{
    
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    

}






/* inicio */



/* habiidades */

/* formaciones */




/* portafolio */




/*  */